<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="vadiman-sample.ZPM">
    <Module>
      <Name>vadiman-sample</Name>
      <Version>1.0.11</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src/iris</SourcesRoot>
      <Resource Name="vadiman.sample.PKG"/>
      <UnitTest Name="/tests" Package="vadiman.sample.unittests" Phase="test"/>

    </Module>
  </Document>
</Export>